/* .search {
    display: flex;
    flex-direction: column;
} */

.searchInput {
    display: flex;
}


.searchInput input {
    padding: 1rem;
    border: 0;
    border-radius: 2px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 1.2rem;
}

input:focus {
    outline: none;
}

.searchIcons {
    background-color: white;
    height: 60px;
    width: 50px;
    display: grid;
    place-items: center;
    /* shorthand for align-item center and justify content center */
}

.searchIcon svg {
    font-size: 35px;
}

.dataResults {
    background-color: white;
    width: 310px;
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dataResults::-webkit-scrollbar {
    display: none
}

.dataResults .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
}

#clearBtn {
    cursor: pointer;
}